[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = [
  "pnpm --filter @privateers/ui build",
  "pnpm --filter storybook build"
]

[start]
cmd = "npx serve apps/storybook/dist -l 3000"
