/*
 * Privateers Design System - Brand Themes
 *
 * Import individual brand themes as needed:
 *   @import '@privateers/ui/styles/brands/dis-creadis.css';
 *
 * Or import all brands:
 *   @import '@privateers/ui/styles/brands';
 */

@import "./dis-creadis.css";
